*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    max-width: 100%;
    width: 100%;
    background-color: rgb(186, 73, 73);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    width: 500px;
    height: 350px;
    border-radius: 15px;
}
.body {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    gap: 10px;
    padding: 30px;
    font-size: 20px;
}

.body button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    cursor: pointer;
}
.time-item {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 100px;
    font-weight: 700;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30px;    
}

#pause {
    display: none;
}
.btn button {
    border: none;
    padding: 0px 12px;
    border-radius: 4px;
    box-shadow: rgb(235 235 235) 0px 6px 0px;
    font-family: sans-serif;
    font-size: 22px;
    height: 55px;
    color: rgb(186, 73, 73);
    font-weight: bold;
    width: 200px;
    background-color: white;
    transition: color 0.5s ease-in-out 0s;
    cursor: pointer;
}